



/*===========================
        23.ERROR css 
===========================*/


/*===== ERROR ONE Style =====*/

.error-content{
    padding-top: 120px;
    padding-bottom: 120px;
    
    & .erro-404{
        font-size: 98px;
        font-weight: 600;
        color: $text-color-one;
        line-height: 90px;
    }
    & .sub-title{
        font-size: 24px;
        font-weight: 500;
        color: $text-color-one;
        margin-top: 16px;
    }
    & .text {
        font-size: 16px;
        line-height: 24px;
        color: $text-color-three;
        margin-top: 8px;
    }
    & .error-form{
        max-width: 410px;
        position: relative;
        margin: 0 auto;
        margin-top: 40px;
        position: relative;

        & i {
            position: absolute;
            top: 12px;
            left: 20px;
            font-size: 24px;
            color: $primary-one;
        }

        & input {
            width: 100%;
            height: 48px;
            padding-left: 60px;
            padding-right: 30px;
            border-radius: 50px;
            border: 2px solid $light-color-three;
            font-size: 16px;
            font-weight: 600;
            color: $text-color-three;

            &:focus{
               border-color: $primary-one;
            }
        }

        & .error-btn {
            position: absolute;
            top: 0;
            right: 0;
            
            @media #{$xs}{
                position: relative;
                width: 100%;
                margin-top: 8px;
            }
            
            & .main-btn{
                border: 0;
                line-height: 48px;
                border-radius: 50px;
                
                @media #{$xs}{
                    width: 100%;
                }
            }
        }
    }
}


/*===== ERROR TWO Style =====*/


.error-two{
    height: 750px;
    background-color: $light-color-one;
        
    @media #{$md}{
        height: 550px;
    }
    @media #{$xs}{
        height: 450px;
    }
}

.error-content{
    & img{
        @media #{$md}{
            width: 450px;
        }
        @media #{$sm}{
            width: 350px;
        }
    }
    
    & .text{
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 55px;
        color: $text-color-two;
        
        & span{
            color: $primary-one;
        }
    }
}












