



/*===========================
    25.SING IN SING UP css 
===========================*/


.signin-area{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $light-color-two;
}

/*===== SING IN ONE =====*/

.signin-one,
.signin-two{
    & .form-input{
        & .main-btn{
            width: 100%;
        }

        & .text{
            font-size: 16px;
            line-height: 24px;    
            color: $text-color-two;

            & a{
                color: $primary-one;
            }
        }
    }
}

.signin-content{
    & .signin-title{
        font-size: 24px;
        line-height: 30px;
        color: $text-color-one;
    }
    & .text{
        font-size: 16px;
        line-height: 24px;
        color: $text-color-two;
        margin-top: 8px;
    }
}

    
.signin-checkbox{
    & label{
        color: $text-color-one;
        font-size: 14px;
        cursor: pointer;
        font-weight: 400;
        margin-bottom: 0;
    }

    & input[type="checkbox"]{
        display: none;

        &+label {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: -1px 8px 0 0;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 5px;
            position: relative;
            @include transition(0.3s);
            background-color: $light-color-three;

            &::before{
                color: $white;
                content: "";
                font-size: 13px;
                position: absolute;
                text-align: center;
                left: 2px;
                top: -2px;
                @include transform(scale(0));
                @include transition(0.3s);
            }
        }

        &:checked+label{
            background-color: $primary-one;
            @include transition(0.3s);

            &::before{
                @include transform(scale(1));
            }
        }
    }
    
    & span{
        & a{
            color: $primary-one;
        }
    }
} 

/*===== SING IN THREE =====*/

.signin-three{
    @include box-shadow (0 3px 6px 0 rgba(0, 0, 0, 0.16));
    background-color: $light-color-two;
    border-radius: 8px;
    overflow: hidden;
    
    & .signin-header{
        background-color: $white;
        padding: 70px 30px;
        
        @media #{$xs}{
            padding: 50px 15px;
        }
        
        & p{
            font-size: 16px;
            line-height: 24px;
            color: $text-color-two;
        }
        
        & .social-signin{            
            & li{
                display: inline-block;
                margin: 16px 8px 0;
                
                & a{
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: 48px;
                    padding: 0 32px;
                    @include box-shadow (0 3px 6px 0 rgba(0, 0, 0, 0.16));
                    border-radius: 5px;
                    color: $primary-one;
                    background-color: $white;
                    @include transition(0.3s);
                    
                    & i{
                        padding-right: 8px;
                    }
                    
                    &:hover{
                        color: $white;
                        background-color: $primary-one;
                    }
                }
            }
        }
    }
    
    & .signin-form{
        padding: 70px 30px;
        background-color: $light-color-two;
        
        @media #{$xs}{
            padding: 50px 15px;
        }
        
        & .text{
            font-size: 16px;
            line-height: 24px;
            color: $text-color-two;
        }
        & .password{
            font-size: 16px;
            line-height: 24px;
            color: $text-color-two;
            font-style: italic;
            margin-top: 24px;
            
            & span{
                color: $success-color-one;
                font-weight: 700;
            }
        }
    }
}


/*===== SING IN FOUR =====*/

.signin-area-four{
    position: relative;

    & .sing-in-image{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        
        @media #{$md}{
            position: relative;
            width: 720px;
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$xs}{
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$sm}{
            width: 540px;
        }
        
        & .image{
            padding-left: 70px;
            
            @media #{$md}{
                padding-left: 0;
            }
            @media #{$xs}{
                padding-left: 0;
            }
        }
    }

    & .sing-in-title{
        font-size: 32px;
        font-weight: 600;
        color: #000;
        
        & i{
            color:$primary-one;
            margin-right: 8px;
        }
        
        & span{
            font-weight: 400;
        }
    }

    & .text{
        font-size: 16px;
        margin-top: 25px;
    }

    & .form-checkbox{
        & span{
            font-size: 18px;
            color: $text-color-two;
        }
        
        & input[type="checkbox"]{
            display: none;
            
            &+label{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: -1px 15px 0 0;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 3px;
                border: 1px solid $text-color-one;
                position: relative;
                @include transition(0.3s);
                
                &::before{
                    color: $white;
                    content: "";
                    font-size: 16px;
                    position: absolute;
                    text-align: center;
                    left: 2px;
                    top: -4px;
                    @include transform(scale(0));
                    @include transition(0.3s);
                }
            }
            
            &:checked{
                &+label{
                    background: $primary-one;
                    border-color: $primary-one;
                    
                    &::before{
                        @include transform(scale(1));
                    }
                }
            }
        }
    }

    & .form-forget{
        & a{
            font-size: 18px;
            color: $primary-one;
        }
    }

    & .main-btn{
        width: 100%;
    }

    & .new-user{
        margin-top: 15px;

        & .text{
            font-size: 18px;
            color: $text-color-one;
            
            & a{
                color: $text-color-two;
            }
        }
    }

}



/*===== SING IN FIVE =====*/

.signin-area-five{
    position: relative;

    & .sing-in-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        
        @media #{$md}{
            position: relative;
            width: 720px;
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$xs}{
            position: relative;
            width: 100%;
            margin: 0 auto;
            padding-top: 50px;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media #{$sm}{
            width: 540px;
        }
        
        & .image{
            padding-left: 70px;
            
            @media #{$md}{
                padding-left: 0;
            }
            @media #{$xs}{
                padding-left: 0;
            }
        }
    }

    & .sing-in-title{
        font-size: 32px;
        font-weight: 600;
        color: #000;
        
        & i{
            color:$primary-one;
            margin-right: 8px;
        }
        
        & span{
            font-weight: 400;
        }
    }
    
    & .text{
        font-size: 16px;
        margin-top: 25px;
    }

    & .facebook-sing-up{
        & a{
            width: 100%;
            height: 65px;
            line-height: 65px;
            text-align: center;
            border-radius: 7px;
            background-color: #164aa9;
            color: $white;
            font-weight: 700;
            font-size: 18px;
        }
    }
    & .gooogle-sing-up{
        & a{
            width: 100%;
            height: 65px;
            line-height: 65px;
            text-align: center;
            border-radius: 7px;
            background-color: #df3527;
            color: $white;
            font-weight: 700;
            font-size: 18px;
        }
    }

    & .form-checkbox{
        & span{
            font-size: 18px;
            color: $text-color-two;
        }
        
        & input[type="checkbox"]{
            display: none;
            
            &+label{
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: -1px 15px 0 0;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 3px;
                border: 1px solid $text-color-one;
                position: relative;
                @include transition(0.3s);
                
                &::before{
                    color: $white;
                    content: "";
                    font-size: 16px;
                    position: absolute;
                    text-align: center;
                    left: 2px;
                    top: -4px;
                    @include transform(scale(0));
                    @include transition(0.3s);
                }
            }
            
            &:checked{
                &+label{
                    background: $primary-one;
                    border-color: $primary-one;
                    
                    &::before{
                        @include transform(scale(1));
                    }
                }
            }
        }
    }

    & .main-btn{
        width: 100%;
    }

    & .new-user{
        margin-top: 15px;

        & .text{
            font-size: 18px;
            color: $text-color-one;
            
            & a{
                color: $text-color-two;
            }
        }
    }
}








