/*===========================
       10.SLIDER css 
===========================*/


/*===== SLIDER ONE =====*/

.slider-one {

    & .bd-example {
        & .carousel {
            & .carousel-inner {
                background-color: $primary-one;

                & .carousel-item {
                    height: 600px;

                    @media #{$xs} {
                        height: 400px;
                    }

                    & .carousel-caption {
                        top: 50%;
                        bottom: auto;
                        @include transform(translateY(-50%));
                        width: 100%;
                        left: 0;

                        & .carousel-title {
                            font-size: 44px;
                            font-weight: 700;
                            color: $white;
                            line-height: 55px;

                            @media #{$xs} {
                                font-size: 24px;
                                line-height: 32px
                            }
                        }

                        & .carousel-btn {
                            & li {
                                display: inline-block;
                                margin: 16px 8px 0;

                                @media #{$xs} {
                                    margin: 16px 3px 0;
                                }

                                & a {
                                    &.rounded-three{
                                        border: 0;
                                    }
                                    &.rounded-one{
                                        border-color: $white;
                                        color: $white;
                                        
                                        &:hover{
                                            background-color: $white;
                                            color: $primary-one;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & .carousel-control-prev,
            & .carousel-control-next {
                top: 50%;
                width: auto;
                height: auto;
                font-size: 70px;
                color: $white;
                @include transform(translateY(-50%));
                bottom: auto;
                left: 70px;
                opacity: 1;
                z-index: 99;

                @media #{$lg} {
                    left: 30px;
                    font-size: 50px;
                }

                @media #{$md} {
                    left: 30px;
                    font-size: 50px;
                }

                @media #{$xs} {
                    left: 20px;
                    font-size: 20px;
                }

                @media #{$sm} {
                    font-size: 34px;
                }
            }

            & .carousel-control-next {
                right: 70px;
                left: auto;

                @media #{$lg} {
                    right: 40px;
                }

                @media #{$md} {
                    right: 40px;
                }

                @media #{$xs} {
                    right: 20px;
                }
            }

            & .carousel-indicators {
                margin-bottom: 20px;

                & li {
                    width: 8px;
                    height: 8px;
                    background-color: rgba(255, 255, 255, 0.3);
                    border-radius: 50px;
                    border: 0;

                    &.active {
                        width: 16px;
                        background-color: $white;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}




/*===== SLIDER TWO =====*/

.slider-area {
    &.slider-two {
        background-color: $light-color-two;
        position: relative;

        & .slider-content {
            padding-top: 232px;
            padding-bottom: 232px;
            max-width: 560px;
            width: 100%;
            margin: 0 auto;

            @media #{$xs} {
                padding-top: 132px;
                padding-bottom: 132px;
            }

            & .slider-title {
                font-size: 44px;
                line-height: 55px;
                color: $text-color-one;
                padding: 0 5px;

                @media #{$xs} {
                    font-size: 24px;
                    line-height: 32px;
                }
            }

            & .text {
                font-size: 16px;
                line-height: 24px;
                color: $text-color-three;
                margin-top: 16px;

                @media #{$xs} {
                    font-size: 14px;
                }
            }

            & .slider-btn {
                margin-top: 14px;

                & li {
                    display: inline-block;
                    margin: 10px 8px 0;

                    @media #{$xs} {
                        margin: 10px 3px 0;
                    }

                    & a {
                        
                    }
                }
            }
        }

        & .carousel {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;

            @media #{$md} {
                position: relative;
                height: 700px;
                width: 100%;
            }

            @media #{$xs} {
                position: relative;
                height: 400px;
                width: 100%;
            }

            & .carousel-inner {
                width: 100%;
                height: 100%;

                & .carousel-item {
                    width: 100%;
                    height: 100%;
                }
            }

            & .carousel-control-prev,
            & .carousel-control-next {
                top: 30%;
                width: auto;
                height: auto;
                font-size: 32px;
                color: $white;
                bottom: auto;
                left: 8px;
                right: auto;
                opacity: 1;

                @media #{$xs} {
                    font-size: 24px;
                }
            }

            & .carousel-control-next {
                top: auto;
                bottom: 30%;
            }

            & .carousel-indicators {
                display: block;
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                left: 20px;
                bottom: auto;
                margin-left: 0;
                margin-right: 0;

                @media #{$xs} {
                    left: 16px;
                }

                & li {
                    display: block;
                    width: 8px;
                    height: 8px;
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 50px;
                    border: 0;
                    margin: 5px 0;

                    &.active {
                        background-color: $white;
                        height: 16px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}



/*===== SLIDER THREE =====*/

.slider-three {
    background-color: $light-color-two;
    padding-top: 112px;
    padding-bottom: 130px;

    & .section-title {
        & .title {
            font-size: 44px;
            line-height: 55px;
            font-weight: 700;
            color: $text-color-one;

            @media #{$xs} {
                font-size: 28px;
                line-height: 32px;
            }
        }

        & .text {
            font-size: 16px;
            line-height: 24px;
            color: $text-color-three;
            margin-top: 24px;

            @media #{$xs} {
                font-size: 14px;
            }
        }
    }

    & .slider-items-active {
        & .slick-dots {
            text-align: center;
            margin-top: 38px;

            & li {
                display: inline-block;
                margin: 0 2px;

                & button {
                    width: 8px;
                    height: 8px;
                    border-radius: 50px;
                    background-color: rgba(0, 103, 244, 0.3);
                    border: 0;
                    font-size: 0;
                }

                &.slick-active {
                    & button {
                        width: 16px;
                        background-color: $primary-one;
                        border-radius: 5px;
                    }
                }
            }
        }
    }


    & .single-items-one {
        & img {
            width: 100%;
            @include box-shadow (0 2px 4px 0 rgba(0, 0, 0, 0.16));
            border-radius: 10px;
        }
    }
}



/*===== SLIDER FOUR =====*/

.slider-four {

    & .carousel-item {
        background-color: $primary-one;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 33%;
            height: 100%;
            background: rgb(0, 103, 244);
            background: -webkit-linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%);
            background: -o-linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%);
            background: linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%);
            top: 0;
            right: 15%;
            @include transform(skewX(20deg));

            @media #{$lg} {
                width: 40%;

            }

            @media #{$md} {
                width: 60%;
            }

            @media #{$xs} {
                width: 50%;
                right: 45%;
            }

            @media #{$sm} {
                right: 25%;
            }

        }

        & .slider-content {
            padding-top: 124px;
            padding-bottom: 136px;
            position: relative;
            z-index: 9;

            & .title {
                font-size: 88px;
                line-height: 96px;
                color: $white;
                font-weight: 700;

                @media #{$lg} {
                    font-size: 68px;
                    line-height: 90px;
                }

                @media #{$xs} {
                    font-size: 48px;
                    line-height: 65px;
                }
            }

            & .text {
                color: $white;
                font-size: 16px;
                line-height: 24px;
                margin-top: 16px;
            }

            & .slider-btn {
                padding-top: 16px;

                & li {
                    display: inline-block;
                    margin: 16px 8px 0;

                    @media #{$xs} {
                        margin: 16px 3px 0;
                    }

                    & a {
                        &.rounded-one{
                            background-color: $white;
                            border-color: $white;
                            
                            &:hover{
                                background-color: transparent;
                                color: $white;
                            }
                        }
                        &.rounded-two{
                            border-color: $white;
                            
                            &:hover{
                                background-color: $white;
                                color: $primary-one;
                            }
                        }
                    }
                }
            }
        }

        & .slider-image-box {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            z-index: 9;

            & .slider-image {
                max-width: 680px;
                width: 100%;

                & img {}
            }
        }
    }

    & .carousel {

        & .carousel-control-prev,
        & .carousel-control-next {
            top: 50%;
            font-size: 32px;
            color: $white;
            bottom: auto;
            left: 60px;
            right: auto;
            opacity: 1;
            @include transform(translateY(-50%));
            z-index: 99;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 5px;

            @media #{$lg} {
                left: 30px;
            }
            @media #{$md} {
                left: 30px;
            }
            @media #{$xs} {
                font-size: 24px;
                width: 38px;
                height: 38px;
                left: 30px;
            }
        }

        & .carousel-control-next {
            right: 60px;
            left: auto;
            
            @media #{$lg} {
                right: 30px;
            }
            @media #{$md} {
                right: 30px;
            }
            @media #{$xs} {
                right: 30px;
            }
        }

        & .carousel-indicators {
            margin-bottom: 50px;

            & li {
                display: block;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 50px;
                border: 0;
                margin: 0px 2px;

                &.active {
                    background-color: $white;
                    width: 16px;
                    border-radius: 5px;
                }
            }
        }
    }
}



/*===== SLIDER FIVE =====*/

.slider-five {
    background-color: $primary-one;
    position: relative;

    & .slider-content {
        max-width: 560px;
        margin: 0 auto;
        padding-top: 230px;
        padding-bottom: 236px;
        
        @media #{$xs} {
            padding-top: 100px;
            padding-bottom: 106px;
        }

        & .slider-title {
            font-size: 44px;
            font-weight: 600;
            color: $white;
            line-height: 55px;
            
            @media #{$xs} {
                font-size: 28px;
                line-height: 38px;
            }
        }

        & .text {
            font-size: 16px;
            color: $white;
            line-height: 24px;
            margin-top: 16px;
            
            @media #{$xs} {
                font-size: 14px;
            }
        }

        & .slider-newsletter {
            max-width: 410px;
            position: relative;
            margin: 24px auto 0;
            
            
            & i{
                font-size: 26px;
                color: $primary-one;
                position: absolute;
                left: 18px;
                top: 12px;
            }

            & input {
                width: 100%;
                height: 48px;
                border: 0;
                border-radius: 50px;
                background-color: $white;
                padding-left: 60px;
                padding-right: 30px;

                @include placeholder {
                    opacity: 1;
                    color: $text-color-three;
                }
            }

            & .slider-btn {
                border: 0;
                position: absolute;
                top: 0;
                right: 0;
                
                @media #{$xs} {
                    position: relative;
                    right: auto;
                    margin-top: 15px;
                }
                
                & .main-btn{
                    border: 0;
                    border-radius: 50px;
                    line-height: 48px;
                }
            }
        }
    }

    & .carousel {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        
        @media #{$md} {
            height: 720px;
            position: relative;
            width: 100%;
        }
        @media #{$xs} {
            height: 420px;
            position: relative;
            width: 100%;
        }

        & .carousel-inner {
            height: 100%;
            width: 100%;

            & .carousel-item {
                height: 100%;
                width: 100%;
            }
        }

        & .carousel-control-prev,
        & .carousel-control-next {
            top: 50%;
            width: auto;
            height: auto;
            font-size: 32px;
            color: rgba(0, 103, 244, 0.3);
            @include transform(translateY(-50%));
            bottom: auto;
            left: 70px;
            opacity: 1;
            z-index: 99;
            @include transition(0.3s);

            @media #{$lg} {
                left: 40px;
            }

            @media #{$md} {
                left: 40px;
            }

            @media #{$xs} {
                left: 20px;
                font-size: 20px;
            }

            @media #{$sm} {
                font-size: 34px;
            }
            
            &:hover{
                color: $primary-one;
            }
        }

        & .carousel-control-next {
            right: 70px;
            left: auto;

            @media #{$lg} {
                right: 40px;
            }

            @media #{$md} {
                right: 40px;
            }

            @media #{$xs} {
                right: 20px;
            }
        }

        & .carousel-indicators {
            margin-bottom: 20px;

            & li {
                width: 8px;
                height: 8px;
                background-color: rgba(0, 103, 244, 0.3);
                border-radius: 50px;
                border: 0;

                &.active {
                    width: 16px;
                    background-color: $primary-one;
                    border-radius: 5px;
                }
            }
        }
    }
}



/*===== SLIDER SIX =====*/

.slider-six{
    background-color: $primary-one;
    padding-top: 124px;
    padding-bottom: 130px;
    
    & .section-title{
        & .title{
            font-size: 44px;
            font-weight: 600;
            line-height: 55px;
            color: $white;
            
            @media #{$xs} {
                font-size: 32px;
                line-height: 40px;
            }
        }
    }
    
    & .single-items-two{
        & .items-image{
            & img{
                width: 100%;
                border-radius: 10px;
            }
        }
        & .items-content{
            margin-top: 16px;
            
            & .items-title{
                & a{
                    font-size: 24px;
                    line-height: 30px;
                    color: $white;
                    font-weight: 600;
                    
                    @media #{$xs} {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
            & .text{
                color: $white;
                font-size: 16px;
                line-height: 24px;
                margin-top: 8px;
            }
        }
    }
    
    & .slider-items-two-active {
        & .slick-dots {
            text-align: center;
            margin-top: 38px;

            & li {
                display: inline-block;
                margin: 0 2px;

                & button {
                    width: 8px;
                    height: 8px;
                    border-radius: 50px;
                    background-color: rgba(255, 255, 255, 0.3);
                    border: 0;
                    font-size: 0;
                }

                &.slick-active {
                    & button {
                        width: 16px;
                        background-color: $white;
                        border-radius: 5px;
                    }
                }
            }
        }
        
        & .slick-arrow{
            font-size: 32px;
            color: rgba(255, 255, 255, 0.3);
            position: absolute;
            top: -40px;
            right: 15px;
            @include transition(0.3s);
            cursor: pointer;
            
            &.prev{
                right: 70px;
            }
            
            &:hover{
                color: $white;
            }
        }
    }
}



/*===== SLIDER SAVEN =====*/

.slider-seven{
    background-color: $light-color-two;
    padding-top: 100px;
    padding-bottom: 100px;
    
    & .single-items-three{
        & .items-image{
            & img{
                width: 100%;
                border-radius: 10px;
            }
        }
        & .items-content{
            margin-top: 16px;
            position: relative;
            
            & .items-title{
                padding-right: 30px;
                
                & a{
                    font-size: 24px;
                    line-height: 30px;
                    color: $text-color-one;
                    font-weight: 600;
                    @include transition(0.3s);
                    
                    @media #{$xs} {
                        font-size: 20px;
                        line-height: 28px;
                    }
                    
                    &:hover{
                        color: $primary-one;
                    }
                }
            }
            & i{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 24px;
                color: $text-color-one;
            }
        }
    }
    
    & .slider-items-three-active {
        & .slick-dots {
            text-align: center;
            margin-top: 38px;

            & li {
                display: inline-block;
                margin: 0 2px;

                & button {
                    width: 8px;
                    height: 8px;
                    border-radius: 50px;
                    background-color: rgba(0, 103, 244, 0.3);
                    border: 0;
                    font-size: 0;
                }

                &.slick-active {
                    & button {
                        width: 16px;
                        background-color: $primary-one;
                        border-radius: 5px;
                    }
                }
            }
        }
        
        & .slick-arrow{
            font-size: 32px;
            color: $text-color-two;
            position: absolute;
            top: 50%;
            left: -46px;
            @include transform(translateY(-50%));
            @include transition(0.3s);
            cursor: pointer;
            
            @media #{$xs} {
                left: -28px;
                font-size: 24px;
            }
            
            &.next{
                left: auto;
                right: -46px;
                
                @media #{$xs} {
                    right: -28px;
                }
            }
            
            &:hover{
                color: $primary-one;
            }
        }
    }
}



















